<section class="section post-summary">
	<div class="section-inner">
			<h2 class="heading title"><a href="{{.Permalink}}">{{ .Title }}</a>
				<div class="post-meta">
					<ul class="list-inline">
						<li class="author" title="Author"><i class="fa fa-user"></i> {{.Params.author | default .Site.Params.author}}</li>
						<li class="timer" title="Estimate reading time"><i class="fa fa-clock-o"></i> {{.ReadingTime}} min</li>
						<li class="comments"><i class="fa fa-comments"></i>
							<a href="{{.Permalink}}#disqus_thread">0 comments</a>
						</li>
					</ul>
				</div>
			</h2>
			{{partial "date.html" . }}
					<div class="content">
			 {{ .Summary }}

			 {{ if .Truncated }}
					<div class="more-link">
						<a href="{{ .RelPermalink }}">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div>
				{{ end }}
			</div><!--//content-->
	</div><!--//section-inner-->                 
</section>
